<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>О нас</title>
    <style>
        body {background-color: #98bfd5;}
	    .block {text-align: center; width: 70%; margin-left: 15%}
	    h1 {color: #494949; font-size: 3.5em}
	    p {color: #494949; font-size: 1.2em}
    </style>
</head>
<body>
    <%- include('blocks/header.ejs') -%>
    <div class="block">
    <h1>Страница с информацией о нас</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Integer lacinia mauris non tincidunt imperdiet.
        Nunc facilisis vel tellus et placerat.
        Nunc ac magna et arcu scelerisque porttitor.
        Donec lacinia neque odio, vitae posuere erat auctor eget.
        In accumsan ipsum ac risus interdum, eget varius magna cursus.
        Aliquam faucibus varius dolor sit amet auctor.
        Nulla mattis venenatis velit sit amet suscipit. Duis eget fringilla augue.
        Cras at sem ex. Nulla quis elit id sem commodo fringilla a non tellus.
        In faucibus mi a aliquam mollis. Donec sodales porttitor ipsum, eget pulvinar sem malesuada at.
        Duis sit amet risus est. Maecenas consequat auctor nisi, vulputate ultricies odio congue non.
        In tincidunt porttitor leo vitae aliquam. Suspendisse non euismod magna, eu vehicula orci.</p>
    </div>
</body>
</html>